li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ol li {
    background-color: yellow;
}

li.par {
    color: green;    
}

li.impar {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}

ul.linguagens li:nth-child(1) {
    color: blue;
}

ul.linguagens li:nth-child(2) {
    color: blue;
}

ul.linguagens li:nth-child(3) {
    color: blue;
}

ul.linguagens li.java {
    background-color: pink;
}

ul li a:hover {
    font-weight: bold;
}

a#stack:hover {
    color: orange;
}

a#w3:hover {
    color: green;
}

a#mdn:hover {
    color: black;
}

a#devdocs:hover {
    color: yellow;
}

a#trybe:hover {
    color: green;
}